<div class="card my-3">
  <div class="card-body">
    <div class="row justify-content-center align-items-center">
      <div class="col-8">
        <p class="text-black-50">{{ meal.mealTime }}</p>
        <p>{{ meal.description }}</p>
      </div>
      <div class="col-2 mt-3">
        <p><strong>{{ meal.calories }}</strong> kcal</p>
      </div>
      <div class="col-2">
        <button class="btn btn-secondary">
          <i class="far fa-edit"></i>
        </button>
        <button class="btn btn-danger ml-3">
          <i class="fas fa-trash-alt"></i>
        </button>
      </div>
    </div>
  </div>
</div>
