<div class="card my-3">
  <div class="card-body">
    <div class="row justify-content-center align-items-center">
      <div class="col-8">
        <p class="text-black-50">{{ meal.mealTime }}</p>
        <p>{{ meal.description }}</p>
      </div>
      <div class="col-2 mt-3">
        <p><strong>{{ meal.calories }}</strong> kcal</p>
      </div>
      <div class="col-2">
        <button class="btn btn-secondary" (click)="onEdit()">
          <i class="far fa-edit"></i>
        </button>
        <button class="btn btn-danger ml-3" (click)="onRemove()">
          <i class="fas fa-trash-alt" *ngIf="!isRemoving"></i>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                *ngIf="isRemoving"></span>
        </button>
      </div>
    </div>
  </div>
</div>
